@page "/"

<PageTitle>Home</PageTitle>

<div class="home-container">
    <h1 class="page-title">Hello! Welcome to the Recipe Bank!</h1>

    <h2>Find your favorite recipes here and get cooking.</h2>
</div>